<h1>Rate my Steaks</h1>
<div class="inline">
<form (submit)="saveSteak()">
  <input type="text" name="title" id="title" [(ngModel)]="newSteak.title">
  <input type="text" name="description" id="description" [(ngModel)]="newSteak.description">
  <input placeholder="image" type="text" name="image" id="image" [(ngModel)]="newSteak.image">
  <input type="submit" value="Save">
</form>
</div>
<div class="inline">
  <app-displaysteak *ngFor="let steak of steaks" [steak]="steak" (savedRating)="getSteaksFromService()" ></app-displaysteak>

</div>