<h1>Rate my Steaks</h1>
<div class="inline">
<form (submit)="saveSteak()">
  <input type="text" name="title" id="title" [(ngModel)]="newSteak.title">
  <input type="text" name="description" id="description" [(ngModel)]="newSteak.description">
  <input placeholder="image" type="text" name="image" id="image" [(ngModel)]="newSteak.image">
  <input type="submit" value="Save">
</form>
</div>
<div class="inline">
  <div *ngFor="let steak of steaks">
    <img src="{{steak.image}}">
    <form (submit)="saveRating(steak)">
      <input type="number" name="rating" id="rating" [(ngModel)]="steak.newRating.rating">
      <input type="text" name="comment" id="comment" [(ngModel)]="steak.newRating.comment">
      <input type="submit" value="Save">
    </form>
  </div>
</div>